<form action="/user#create" method="post" class="form-inline">
   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label class="sr-only" for="inlineFormInputName2">Name</label>
  <input type="string" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Name" name="name" value="name">

  <label class="sr-only" for="inlineFormInputGroupUsername2">Password</label>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
    </div>
    <input type="string" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Password" name="password" value="password">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>